* {
    padding: 0;
    margin: 0;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 71px;
    align-items: center;
    background-color: rgb(49, 46, 46);
    
}

.nav-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
}

.text-white {
    color:white;
}

.hero {
    background-image: url(../assets/images/image-1.jpeg);
    height: 80vh;
     background-position: center; 
     /* background-size: cover;  */
    padding-top: 50px;
    background-color: rgb(52, 49, 49);
    /* color:#fff; */
  /* font-size: 40px; */
  /* padding: 20px; */
  height: 100vh;
  
  /* width: 100%; */
  background-size: 100%;
}

.name {
    font-size: 50px;
    color: #c5baca;
}
.what-do {
    font-size: 90px;
    font-weight:bold ;
    color: #c5baca;
}

.skills {
    font-size: 20px; 
    color: white;
}
/*
.hero-info {
    width: 50%;
    padding-top: 48px;
    /* margin-top: 50px; */

    .Me {
        font-size: 20px;
        text-decoration: #c843ff;
    }
